

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

#chess-board-container{
    width: fit-content;
    height: fit-content;
    border: 1px solid #444343;
    padding: 10px;
    border-radius: 4px;
}

#parameters{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #444343;
    border-radius: 4px;
}